body { 
background-color: #DFDFDF;
text-align:center;
color:#373836;
font-family:verdana;
font-variant:small-caps;
font-size:13px; 
}
img { 
border:0;
}
a { 
color:#373836;
text-decoration:none; 
}
a:hover { 
color:#999; 
text-decoration:underline;
}
.all {
text-align:center; 
width:1000px; 
margin:0 auto; 
padding:5px;
border:1px solid #616261;
border-radius:7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
box-shadow: 2px 2px 0px #999;
}

.header { 
text-align:left; 
width:1000px; 
margin:0 auto; 
padding:5px;
padding-top:0px;
padding-bottom:0px;
}
.menu {
text-align:left;
margin:0 auto; 
padding:5px;
padding-top:0px;
background-color: #DDD; 
background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
-webkit-background-size: 5px 5px;
-moz-background-size: 5px 5px;
background-size: 5px 5px;
border-bottom:none;
}
.menuright { 
float:right;
font-weight:normal;
}
.global { 
text-align:justify;
background-color:#F0F0F0;
word-wrap:break-word;  
margin:0 auto; 
padding:5px;
border:1px thick #999;
border-radius:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
.footer { 
text-align:right;
margin:0 auto; 
padding:5px;
padding-bottom:0px;
background-color: #DDD; 
background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
-webkit-background-size: 5px 5px;
-moz-background-size: 5px 5px;
background-size: 5px 5px;
border-top:none;
}
div.table { 
display:table; 
border-collapse:collapse;
width:100%; 
border:1px solid #999;
}
div.tbody { 
display:table-row-group;
counter-reset:case; 
}
div.tr_menu {
font-weight:bold;
display:table-row; 
background-color: #DDD; 
background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
-webkit-background-size: 5px 5px;
-moz-background-size: 5px 5px;
background-size: 5px 5px; 
}
div.tr:nth-child(odd) {
display:table-row;
background-color:#DFDFDF;
}
span.num:before {
counter-increment:case; 
content: counter(case); 
}
div.tr {
display:table-row;
}
div.id {
text-align:center;
display:table-cell; 
border:1px solid #999; 
padding:1px; 
width:50px;
}
div.lvl {
text-align:center;
display:table-cell; 
border:1px solid #999; 
padding:1px; 
width:70px;
}
div.player { 
text-align:center;
display:table-cell; 
border:1px solid #999; 
padding:1px; 
width:275px;
}
div.time {
text-align:center;
display:table-cell; 
border:1px solid #999; 
padding:1px; 
width:auto;
}
div.item { 
text-align:center;
display:table-cell; 
border:1px solid #999; 
padding:1px; 
width:100px;
}
.title {
border-bottom:1px solid #ccc;
text-align:left;
font-weight:bold;
width:100%;
margin:0 auto; 
padding:0px;
padding-top:3px;
padding-bottom:3px;
}
.contents { 
text-align:justify;
background-color:#F0F0F0;
word-wrap:break-word;
width:100%;
margin:0 auto; 
padding:0px;
padding-top:3px;
padding-bottom:3px;
}
.date { 
float:right;
font-weight:normal;
font-style:italic;
}
.map { 
text-align:center; 
padding-top:10px; 
padding-bottom:10px; 
}
.pagination {
text-align:center;
}
.bold {
font-weight:bold; 
}